/*Mobile View*/

.layout {
	height:100%;
	width: 32.5em;
	font-style: sans-serif;
}

.header {
	height: 14em;
	width: 100%;
	// background-color: red;
	display: inline-block;
	// background-color: blue;
	// opacity: 0.3;

}

.header-body {
	background-color: green;
	//opacity: 0.2;
	height: 100%;
	background-image: url(http://assets.climatecentral.org/images/uploads/news/CC_blue_sky.jpg);
}

.nav li{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 1em;
}

.nav {
	padding-top: 1.1em;
	text-align: center;
	font-size: 1.2em;
}

.heading1 {
	text-align: center;
	font-size: 2.75em;
	margin-top: 2.0em;
	color: white;

}

.heading2 {
	text-align: center;
	font-size: 1.2em;
}

.content{
	margin-left: 2em;
	margin-right: 2em;
	background-color: red;

}

.headline {
	height: 95.2em;
	width: 100%;
	background-color: white;
	font-weight: 50;
}

.headline1 {
	padding-right: 0.8em;
	padding-top: 1em;
	font-size: 4em;
	padding-left: 0.8em;
	padding-bottom: 0.5em;
	text-color: rgb (35 56 82);
}

.date { 
	padding-top: 2.7em;
	font-size: 1.2em;
	font-style: underline;
	padding-bottom: 2.0em;
	}


.p1 {
	font-size: 1.2em;
	line-height: 1.2;
}

.p2{
	font-size: 1.2em;
	padding-top: 1.5em;
	line-height: 1.2em;
	padding-bottom: 1.5em;
}

.p3{
	font-size: 1.7em;
	border-left: solid;
	margin-left: 0.6em;
}
.p4{
	padding-top: 1.5em;
	font-size: 1.2em;
	line-height: 1.2em;
}
.p5 {
	padding-top: 2.0em;
	font-size: 1.2em;
	line-height: 1.2em;
	margin-bottom: 0.5em;
}

.p6 {
	margin-left: 2em;
	margin-right: 2em;
}

.boxes {
	margin-left: 2em;
}

.boxes li{
	height: 3em;
	width: 3em;
	background-color: gray;
	display: inline-block;
	text-align: center;
	margin-right: 1em;
}

.dolphinpic {

	margin-left:12em;
	margin-top: 3em;
	text-align: center;
	height: 8em;
	width: 8em;
	background-color: blue;
	border: solid 0 white;
	border-radius: 50%;
}


.dolphintext {
	
	font-size: 1.7em;
	padding-top: 1em;
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;
}

.comms {
	margin-left: 2em;
	text-align: center;
	padding-top: 1em;
}


.comms li {
	text-align: center;
	display: inline-block;
	font-size: 1.2em;
	
}

.twitter {
	font-size: 2em;
	padding-right: 3em;
	border-right: solid;
}

.fb {
	padding-right: 3em;
	border-right: solid;
}

.imagehead{

}


.lastimage {
	height: 20em;
	margin-top: 10em;
	margin-right: 2em;
	margin-left: 2em;
	margin-bottom: 40em;
	background-color: yellow;

.lasttext {}

}

.ad {

	margin-left: 2em;
	margin-right: 2em;
	margin-top: -26.5em;
	text-align: right;
	font-size: 1.5em;
	
	}

.postheader {
	
	height:1.5em;
	margin-top: 19em;
	text-align: center;
	margin-bottom: 1em;
	font-size: 2.25em;
	
}
.post1 {
	height:12.5em;
	background-color: orange;
	margin-left: 2em;
	margin-right: 2em;
	}

.post2 {
	height: 12.5em;
	margin-left: 2em;
	margin-right: 2em;
	background-color: red;
	margin-top: 2em; 
}

.post3 {
	height: 12.5em;
	margin-left: 2em;
	margin-right: 2em;
	background-color: green;
	margin-top: 2em;
	margin-bottom: -30em;
}

.footer {
	background-color: blue;
	height:14.5em;
	width: 100%;
	margin-top: 36em;
}

.footer li {

	display: inline-block;
	text-align: center;

}
